<nav class="navbar navbar-expand-lg navbar-light bg-white card p-0">
  <div class="container-fluid p-0">
    <%= link_to root_path, class:'text-center navbar-brand m-0 col-2' do %>
      <img src="/assets/jobcrop_logo.png" width="30" height="30" alt="">
      <span class="medium-font">For Employers</span>
    <% end %>
      <%= render partial: 'jobs/searchbar' %>
  </div>
</nav>
