<div class="sidebar-sticky">
  <ul class="nav flex-column my-2">
    <li class="nav-item">
      <%=link_to "Dashboard", employer_dashboard_path, class:'nav-link'%>
    </li>
    <li class="nav-item">
      <%=link_to "My Jobs", jobs_index_path, class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to "Analysis", employer_analysis_path, class: 'nav-link' %>
    </li>
  </ul>
</div>
