<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#">
  <%= link_to root_path, class:'navbar-brand' do %>
    <img src="/assets/jobcrop_logo.png" width="30" height="30" alt="">
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Jobs", jobs_path, class: 'nav-link' %>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <i class="fas fa-bell nav-link" style="font-size:22px;"></i>
      </li>
      <li class="nav-item">
        <div class="dropdown">
            <img
              src="/assets/default.png" id="user-settings"
              class='rounded-circle nav-link'
              data-toggle="dropdown"
              aria-haspopup='true'
              aria-expanded='false'
              style="width:40px;height:40px;"
            />
          <div class="dropdown-menu dropdown-menu-right bg-light" aria-labelledby="user-settings">
            <%= link_to "Sign Out", sign_out_path, method: :delete, class: 'dropdown-item' %>
            <%= link_to "My Profile", user_path(current_user.id), method: :get, class: 'dropdown-item' %>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">For Employers</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-secondary" href="#">Post Jobs for free</a>
      </li>
    </ul>
  </div>
</nav>
