<%= form_with scope: :user, url: user_path(@user.id), method: 'PATCH' do |form| %>
<div class="form-group">
  <div class="mx-1">
    <%= form.text_area :about_me, class: 'form-control bg-light border-0', placeholder: 'Tell us about yourself.' %>
  </div>
</div>
<%= form.submit "Apply Changes", class: 'btn btn-outline-secondary' %>
<% end %>
