<li>
  <div class="no-result-card card my-2">
    <div class="card-body">
      <p class="m-0 text-secondary">“Life is too short for us to dwell on sadness. Cheer up and live life to the fullest.” (No Result Found)</p>
    </div>
  </div>
</li>
