<%@result.each do |result|%>
  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title">
        <%=result[:title]%>
      </h5>
      <p class="card-text">
        <%=result[:company]%>
      </p>
      <p class="card-text">
        <%=result[:location]%>
      </p>
      <p class="m-0 small-font text-muted">
        <%=result[:created_at]%>
      </p>
    </div>
  </div>
<% end %>
