<footer class="bg-dark pt-5">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="/assets/logo-white.svg" width="100px" class="d-block mx-auto"/>
        <h5 class="text-light font-weight-bold text-center">JobCrop</h5>
      </div>
      <div class="col-8">
        <div class="d-flex flex-row">
          <ul class="list-unstyled mx-5">
            <li>
              <h5 class="text-light font-weight-bold">JobCrop</h5>
            </li>
            <li>
              <p class="text-secondary m-0">About Us</p>
            </li>
            <li>
              <p class="text-secondary m-0">Career</p>
            </li>
            <li>
              <p class="text-secondary m-0">Contact</p>
            </li>
          </ul>
          <ul class="list-unstyled mx-5">
            <li>
              <h5 class="text-light font-weight-bold">Jobhunters</h5>
            </li>
            <li>
              <p class="text-secondary m-0">FAQ</p>
            </li>
            <li>
              <p class="text-secondary m-0">Terms of use</p>
            </li>
            <li>
              <p class="text-secondary m-0">Testimonial</p>
            </li>
            <li>
              <p class="text-secondary m-0">Help</p>
            </li>
          </ul>
          <ul class="list-unstyled mx-5">
            <li>
              <h5 class="text-light font-weight-bold">Employers</h5>
            </li>
            <li>
              <p class="text-secondary m-0">FAQ</p>
            </li>
            <li>
              <p class="text-secondary m-0">A.I.D.A</p>
            </li>
            <li>
              <p class="text-secondary m-0">Terms of use</p>
            </li>
            <li>
              <p class="text-secondary m-0">Testimonial</p>
            </li>
            <li>
              <p class="text-secondary m-0">Help</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="bg-secondary"/>
  <p class="text-light m-0 text-center">Copyright 2018 JobCrop</p>
</footer>
