
<%= render partial: "navbar/employer_navbar" %>
<div class="container-fluid">
	<div class="row">
		<div class="col-2 bg-white border-right">
			<%=render partial: 'navbar/employer_sidebar'%>
		</div>
		<div class="col-10 py-3 container-fluid">
			<div class="border-bottom mb-3">
				<h3 class="text-center font-weight-bold text-secondary">Jobs Analysis</h3>
			</div>

			<div class="row">
				<%= bar_chart @job_field_database, xtitle: "Number of jobs", ytitle: "Job Fields", title: "#{@company.name} Job Field Analysis", width: "100%", height: "1000px", messages: {empty: "No data"} %>
			</div>
			<div class="row">
				<%= bar_chart @job_country_database, xtitle: "Number of jobs", ytitle: "Location", title: "#{@company.name} Job Location Analysis", width: "100%", height: "1000px", messages: {empty: "No data"} %>
			</div>
		</div>
	</div>
</div>
