<div class="cover-landing">
  <div class="searchbox-landing">
    <h1 class="text-light text-center">
      Find the right job for you.
    </h1>
    <p class="text-light text-center">
      Award Winning Jobhunting Website | The yellowpage for Jobhunters.
    </p>
    <a href="#" class="btn btn-primary font-weight-bold d-block mx-auto">Find out why.</a>
  </div>
</div>
