<div class="cover-landing">
  <div class="searchbox-landing">
    <h1 class="text-light">
      Find the right job for you.
    </h1>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</div>
