<div class="features-landing-row py-5">
  <div class="container py-4">
    <h3 class="landing-title">
      <strong>Features</strong>
    </h3>
    <div class="row">
      <div class="col-4">
        <div class="feature-card-row card d-block w-100">
          <div class="card-body">
            <h5 class="card-text text-center text-primary font-weight-bold">Hunt Engine</h5>
            <p class="card-subtitle text-center text-muted">The Ultimate Jobhunting Weapon.</p>
            <hr/>
            <p class="text-secondary">
              <span class="text-primary font-weight-bold">Hunt Engine</span> is a powerful search engine built in the web app that searches opening positions from every
              job seeking websites available today. <br/><br/>In an era where IT is expanding, job seeking platforms can be seen almost everywhere.
              However, it is considered scattered, rather than clustered. This is where 'Hunt Engine' comes in, clustering every possible
              data it can get and package it.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="feature-card-row card d-block w-100">
        <div class="card-body">
          <h5 class="card-text text-center text-primary font-weight-bold">Live Chat</h5>
          <p class="card-subtitle text-center text-muted">Bridging mutual understanding has never been this easy.</p>
          <hr/>
          <p class="text-secondary">
            JobCrop <span class="text-primary font-weight-bold">Live Chat</span> enables jobhunters to interact with their potential employer. This may able Jobhunters to
            get a better perspective of the company from the employer's point of view. <br/><br/>It is as simple as opening a chat window and say 'Hi!'.
            We can reserve all the formal stuff through emails. What better way in getting to know a company than getting to know about it
            from a professional that works there!
          </p>
        </div>
      </div>
      </div>
      <div class="col-4">
        <div class="feature-card-row card d-block w-100">
        <div class="card-body">
          <h5 class="card-text text-center text-primary font-weight-bold">A.I.D.A.</h5>
          <p class="card-subtitle text-center text-muted">An Intellegent in-house analytical tool.</p>
          <hr/>
          <p class="text-secondary">
            <span class="text-primary font-weight-bold">Analytical Intellegence Dashboard Access</span>
             or <span class="text-primary font-weight-bold">A.I.D.A.</span> for short, is an analytical tool provided to Employers
            registered on JobCrop. It provides real-time data based on the activities in JobCrop. <br/><br/>JobCrop makes it simple for
            Employers to evaluate decision-making. Features such as global hiring market data and the latest trend are potential
            implementations in the future!
          </p>
        </div>
      </div>
      </div>
  </div>
  </div>
</div>
