<div class="banner-landing">
  <div class="d-flex flex-row w-100">
    <div class="bg-white">
      <div class="d-flex flex-row">
        <div id="imgPrev1" class="img-preview-landing" style="');">
          <div class="white-fade-right"></div>
        </div>
        <div id="descPrev1" class="description-preview-landing px-1 py-5">
          <h5 class="font-weight-bold text-center text-muted">
            Choose a job you love, and you will never have to work a day in your life.
          </h5>
          <%= link_to 'Find your dream job', sign_up_path, class: 'preview-btn w-50 btn btn-primary font-weight-bold', data: {toggle: 'modal', target: '#signup'} %>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="d-flex flex-row">
        <div id="descPrev2" class="description-preview-landing px-1 py-5">
          <h5 class="font-weight-bold text-center text-muted">
            You can have the best strategy and the best building in the world, <br/>but if you don’t have the hearts and minds of the people who work with you, <br/>none of it comes to life.
          </h5>
          <%=link_to "Apply as an Employer", employer_index_path, class:'preview-btn w-50 btn btn-primary font-weight-bold'%>
        </div>
        <div id="imgPrev2" class="img-preview-landing" style="');">
          <div class="white-fade-left"></div>
        </div>
      </div>
    </div>
  </div>
</div>
