<div class="banner-landing">
  <div class="row">
    <div class="col-lg-6 bg-white">
      <div class="d-flex flex-row">
        <div id="imgPrev1" class="img-preview-landing" style="');">
          <div class="white-fade-right"></div>
        </div>
        <div id="descPrev1" class="description-preview-landing container py-5">
          <h5 class="font-weight-bold text-center text-muted">
            Choose a job you love, and you will never have to work a day in your life.
          </h5>
          <a class="preview-btn w-50 btn btn-primary">Find your dream job</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 bg-white">
      <div class="d-flex flex-row">
        <div id="descPrev2" class="description-preview-landing container py-5">
          <h5 class="font-weight-bold text-center text-muted">
            You can have the best strategy and the best building in the world, but if you don’t have the hearts and minds of the people who work with you, none of it comes to life.
          </h5>
          <a class="preview-btn w-50 btn btn-primary">Apply as an Employer</a>
        </div>
        <div id="imgPrev2" class="img-preview-landing" style="');">
          <div class="white-fade-left"></div>
        </div>
      </div>
    </div>
  </div>
</div>
