<% content_for :navbar_landing do %>
    <%= render partial: "navbar/visitor_navbar" %>
<% end %>
<div class="cover-landing">
  <div class="searchbox-landing">
    <h1 class="text-light">
      Find the right job for you.
    </h1>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</div>
<div class="jobs-landing">
  <div class="container py-4">
    <h3 class="landing-title">
      <strong>Available Jobs</strong>
    </h3>
    <div class="row align-item-center">
      <div class="col-md-4">
        <div class="jobs-landing-card card">
          <div class="img-container-card" style="background-image: url('https://lh4.ggpht.com/3RG_Y8JPK0Hcyui9OcapiONP_aDWKTRZ50wqZW_wbyOF0FamAYEYZfMTW9Cs1OT1kA');"></div>
          <div class="card-body">
            <h5 class="card-title">Facebook Inc</h5>
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <p><strong>Jobs:</strong> <span>20</span></p>
              </li>
              <li class="list-inline-item">
                <p><strong>Reviews:</strong> <span>120</span></p>
              </li>
            </ul>
            <p class="company-description-card card-text text-muted">Facebook, Inc. is an American online social media and social networking service company based in Menlo Park... </p>
            <p class="card-text">Software Engineer</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="jobs-landing-card card">
          <div class="img-container-card" style="background-image: url('https://www.apple.com/ac/structured-data/images/open_graph_logo.png?201809210816');"></div>
          <div class="card-body">
            <h5 class="card-title">Apple Inc</h5>
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <p><strong>Jobs:</strong> <span>20</span></p>
              </li>
              <li class="list-inline-item">
                <p><strong>Reviews:</strong> <span>120</span></p>
              </li>
            </ul>
            <p class="company-description-card card-text text-muted">Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that ... </p>
            <p class="card-text">Software Engineer</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="jobs-landing-card card">
          <div class="img-container-card" style="background-image: url('https://static01.nyt.com/images/2018/02/25/magazine/25mag-google4-cov/25mag-google4-cov-facebookJumbo.png');"></div>
          <div class="card-body">
            <h5 class="card-title">Alphabets Inc</h5>
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <p><strong>Jobs:</strong> <span>20</span></p>
              </li>
              <li class="list-inline-item">
                <p><strong>Reviews:</strong> <span>120</span></p>
              </li>
            </ul>
            <p class="company-description-card card-text text-muted">Google LLC is an American multinational technology company that specializes in Internet-related services ...</p>
            <p class="card-text">Software Engineer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
