<!-- list of all convos done -->
<div>
  <%= link_to 'Home', root_path %>
  <br>
  


<!-- personal message convos index-->
<hr>
<% @conversation.each do |conversation| %>
    Chatting with <%= conversation.with(current_user).email %>
    <br>
    <em><%= conversation.personal_messages.last.body.truncate(50) %></em>
    <br>
    <!-- show convo link -->
    <%= link_to 'View conversation', conversation_path(conversation.id) %> 
    <hr>
<% end %>

</div>