<% @users.each do |user| %>
<li class="list-group-item">
  <p class="user-name m-0">
    <%= user.name %>
  </p>
  <%= link_to 'Message', new_personal_message_path(receiver_id: user), class: 'mb-1', remote: true %>
</li>
<% end %>
