<% content_for :navbar_user do %>
  <% if signed_in? %>
    <%= render partial: "navbar/user_navbar" %>
  <% else %>
    <%= render partial: "navbar/visitor_navbar" %>
  <% end %>
<% end %>
<div class="container  p-0 conversation-container card">
  <nav class="navbar navbar-light card bg-primary">
    <span class="navbar-text text-light font-weight-bold">Your Messages</span>
  </nav>
   <div class="row h-100">
     <div class="col-4 pr-0 border-right h-100 contact-list">
       <nav class="navbar navbar-light card bg-secondary">
         <span class="navbar-text text-light font-weight-bold">Inbox</span>
       </nav>
       <ul id="conversations" class="list-unstyled">
         <%= render @conversations %>
       </ul>
     </div>
     <div class="col-8 pl-0">
       <nav class="navbar navbar-light card bg-secondary">
         <span class="navbar-text text-light font-weight-bold">Conversation</span>
       </nav>
       <div class="chatroom pl-0 d-flex flex-column">
         <p class="text-center mt-5 text-muted">Nothing here.</p>
       </div>
     </div>
   </div>
</div>
