<div class="col-4" >
  <div class="card my-2">
    <div class="card-body">
      <select class="custom-select my-2 bg-light border-0" id="job_type">
        <option selected>Job Type</option>
        <option value="3">All Types</option>
        <option value="1">Jobs</option>
        <option value="2">Freelance</option>
      </select>
      <select class="custom-select my-2 bg-light border-0" id="date_posted">
        <option selected>Date Posted</option>
        <option value="1">Last Day</option>
        <option value="2">Last Week</option>
        <option value="3">Last Month</option>
        <option value="3">All Time</option>
      </select>
    </div>
  </div>
  <div class="basket card my-2 p-3 d-flex flex-col align-item-middle">
    <p class="text-black-50 text-center m-0">This is your basket</p>
  </div>
</div>
