<div class="results-tab col-8" >
  <%= render partial: '/spinner' %>
  <ul class="list-unstyled results-index">
  </ul>
  <div class="card search-intro">
  <div class="card-body">
      <p class="m-0 text-secondary">This is the results tab. Start hunting for something!</p>
    </div>
  </div>
</div>

<script>
$('.spinner').hide();
</script>
