<div class="searchbox-container-jobs my-3">
  <%=form_with(scope: :search, url: search_index_path, class: 'form-inline-my-2 my-lg-0') do |f| %>
    <%=f.text_field :result, class:'form-control border-0 w-100 bg-searchbar py-4', placeholder: 'Super Searchbar'%>
  <% end %>
</div>
