<%=form_with(scope: :search, url: search_index_path, class: 'col-8 form-inline') do |f| %>
  <div class="input-group w-100">
    <div class="input-group-prepend">
      <span class="input-group-text border-0 bg-searchbar"><i class="text-secondary fas fa-search"></i></span>
    </div>
    <%=f.text_field :result, class:' border-0 bg-searchbar', placeholder: 'Go Hunt!'%>
  </div>
<% end %>
