<div class="searchbox-container-jobs my-3">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control w-100 border-0 bg-searchbar py-4" type="search" placeholder="Search" aria-label="Search">
  </form>
</div>
