<% content_for :navbar_user do %>
  <% if signed_in? %>
    <%= render partial: "navbar/user_navbar" %>
  <% else %>
    <%= render partial: "navbar/visitor_navbar" %>
  <% end %>
<% end %>

<div class="container mt-4">
  

</div>
