<!-- message chat -->

<li>
  <%= user.email %> | <%= link_to 'send a message', new_personal_message_path(receiver_id: user) %> |
  <!-- link to index page of all conversations with selected receiver -->
 <!-- link_to 'inbox', inbox_path(params[:receiver_id])  -->

</li>