<div class="col-8">
  <div class="card">
    <div class="card-body">
      <h5 class="m-0">
        <strong>Jobs Available</strong>
      </h5>
    </diV>
  </div>
  <div class="my-3 searchresult-container-home">
    <ul class="list-unstyled">
      <li>
        <div class="card my-2">
          <div class="row">
            <div class="col-2">
              <div class="card-body">
                <img src="https://www.facebook.com/images/fb_icon_325x325.png" class="d-block mx-auto" style="width:55px;height:55px;"/>
                <p class="my-2 border p-1 font-weight-bold reviews text-center small-font">120 <i class="far fa-smile"></i></p>
              </div>
            </div>
            <div class="col-7">
              <div class="card-body pl-0">
                <h5 class="text-primary card-title mb-1"><strong>Janitor</strong></h5>
                <p class="my-1 small-font">Facebook Inc</p>
                <p class="my-1 text-muted small-font">Menlo Park, CA</p>
              </div>
            </div>
            <div class="col-3">
              <div class="card-body">
                <button class="btn btn-primary">Apply Now</button>
                <br/>
                <br/>
                <p class=" m-0 mt-2 text-center text-muted">3 days ago</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card my-2">
          <div class="row">
            <div class="col-2">
              <div class="card-body">
                <img src="https://www.facebook.com/images/fb_icon_325x325.png" class="d-block mx-auto" style="width:55px;height:55px;"/>
                <p class="my-2 border p-1 font-weight-bold reviews text-center small-font">120 <i class="far fa-smile"></i></p>
              </div>
            </div>
            <div class="col-7">
              <div class="card-body pl-0">
                <h5 class="text-primary card-title mb-1"><strong>Software Developer</strong></h5>
                <p class="my-1 small-font">Facebook Inc</p>
                <p class="my-1 text-muted small-font">Menlo Park, CA</p>
              </div>
            </div>
            <div class="col-3">
              <div class="card-body">
                <button class="btn btn-primary">Apply Now</button>
                <br/>
                <br/>
                <p class=" m-0 mt-2 text-center text-muted">3 days ago</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card my-2">
          <div class="row">
            <div class="col-2">
              <div class="card-body">
                <img src="https://www.facebook.com/images/fb_icon_325x325.png" class="d-block mx-auto" style="width:55px;height:55px;"/>
                <p class="my-2 border p-1 font-weight-bold reviews text-center small-font">120 <i class="far fa-smile"></i></p>
              </div>
            </div>
            <div class="col-7">
              <div class="card-body pl-0">
                <h5 class="text-primary card-title mb-1"><strong>Product Designer</strong></h5>
                <p class="my-1 small-font">Facebook Inc</p>
                <p class="my-1 text-muted small-font">Menlo Park, CA</p>
              </div>
            </div>
            <div class="col-3">
              <div class="card-body">
                <button class="btn btn-primary">Apply Now</button>
                <br/>
                <br/>
                <p class=" m-0 mt-2 text-center text-muted">3 days ago</p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
