<div class="card my-2">
  <div class="card-body">
    <h5><strong>Most Reviewed Employers</strong></h5>
    <div class="d-flex flex-wrap flex-row my-2 justify-content-center">
      <img src="/assets/default.png" class="rounded-circle m-2" style="width:50px;height:50px;"/>
      <img src="/assets/default.png" class="rounded-circle m-2" style="width:50px;height:50px;"/>
      <img src="/assets/default.png" class="rounded-circle m-2" style="width:50px;height:50px;"/>
      <img src="/assets/default.png" class="rounded-circle m-2" style="width:50px;height:50px;"/>
      <img src="/assets/default.png" class="rounded-circle m-2" style="width:50px;height:50px;"/>
      <img src="/assets/default.png" class="rounded-circle m-2" style="width:50px;height:50px;"/>
      <img src="/assets/default.png" class="rounded-circle m-2" style="width:50px;height:50px;"/>
      <img src="/assets/default.png" class="rounded-circle m-2" style="width:50px;height:50px;"/>
    </div>
  </div>
</div>
