<% content_for :navbar_user do %>
    <%= render partial: "navbar/user_navbar" %>
<% end %>
<div class="container">
  <div class="row">
    <%= render partial: 'home/my_dashboard' %>
    <%= render partial: 'home/jobs_dashboard' %>
  </div>
</div>
