<div class="card contact">
  <div class="card-body">
    <p class="card-title m-0 font-weight-bold">Contact Information</p>
    <hr/>
    <ul class="list-unstyled">
      <li>
        <p class=""><%=@user.email%></p>
      </li>
      <li>
        <p class="">Telephone</p>
      </li>
    </ul>
  </div>
</div>
