<div class="education-section">
  <div class="card">
    <div class="card-body">
      <h5 class="font-weight-bold m-0">Education</h5>
    </div>
  </div>

  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title font-weight-bold">University</h5>
      <div class="d-flex flex-row">
        <p class="text-muted mr-auto">Location</p>
        <p class="text-muted ml-auto">From - To</p>
      </div>
    </div>
  </div>

  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title font-weight-bold">University</h5>
      <div class="d-flex flex-row">
        <p class="text-muted mr-auto">Location</p>
        <p class="text-muted ml-auto">From - To</p>
      </div>
    </div>
  </div>

  <div class="card my-2">
    <div class="card-body">
      <h5 class="card-title font-weight-bold">University</h5>
      <div class="d-flex flex-row">
        <p class="text-muted mr-auto">Location</p>
        <p class="text-muted ml-auto">From - To</p>
      </div>
    </div>
  </div>
</div>
