<div class="education-section">
  <div class="card header-card">
    <div class="card-body">
      <div class="d-flex flex-row">
        <h5 class="font-weight-bold m-0 mr-auto">Education</h5>
        <i class="text-primary fas fa-plus add-education" style="font-size:23px;"></i>
      </div>
    </div>
  </div>

  <%=render partial: 'users/profile/create_education.html.erb'%>

  <% if @education.any? %>
    <% @education.order(graduation_year: :desc).each do |education| %>
    <div class="card my-2">
      <div class="card-body" id="education-card-<%=education.id%>">
        <%= render partial: 'educations/education_card', locals: {education: education} %>
      </div>
    </div>
    <% end %>
  <% else %>
  <div class="card my-2">
    <div class="card-body">
      <p class="text-black-50 m-0">
        Uh Oh! There is nothing here but dust.<br/> Add your working education for
        a better chance on landing the career of your dreams.
      </p>
    </div>
  </div>
  <% end %>
</div>

<script>
$('.add-education').hide();
$('.header-card').on('mouseover', function(){
  $('.add-education').show();
}).on('mouseleave', function(){
  $('.add-education').hide();
})

$('#create-education').hide();
$('.add-education').on('click', function(){
  $('#create-education').show();
})
</script>
