<div class="user-header">
  <div class="card">
    <div class="card-body">
      <img class="rounded-circle d-block mx-auto mb-3" style="width:150px;height:150px;" src="/assets/default.png"/>
      <h5 class="font-weight-bold text-center">
        <%=@user.name%>
      </h5>
    </div>
    <hr class="my-1"/>
    <ul class="nav mx-auto">
      <li class="nav-item mx-4">
        <%= link_to "Experiences", user_experiences_path(@user.id), class: 'nav-link', remote:true %>
      </li>
      <li class="nav-item mx-4">
        <%= link_to "Education", user_education_path(@user.id), class: 'nav-link', remote:true %>
      </li>
      <li class="nav-item mx-4">
        <%= link_to "About Me", user_about_me_path(@user.id), class: 'nav-link', remote:true %>
      </li>
    </ul>
  </div>
</div>
