<div class="user-header">
  <div class="card">
    <div class="card-body">
      <img class="rounded-circle d-block mx-auto mb-3" style="width:150px;height:150px;" src="/assets/default.png"/>
      <h5 class="font-weight-bold text-center">
        <%=@user.name%>
      </h5>
    </div>
    <hr class="my-1"/>
    <ul class="nav mx-auto">
      <li class="nav-item mx-4">
        <a class="nav-link active" href="#">
          Experiences
        </a>
      </li>
      <li class="nav-item mx-4">
        <a class="nav-link" href="#">
          Education
        </a>
      </li>
      <li class="nav-item mx-4">
        <a class="nav-link" href="#">
          Personal
        </a>
      </li>
    </ul>
  </div>
</div>
