<div class="preferences-section">
  <div class="card header-card">
    <div class="card-body">
      <div class="d-flex flex-row">
        <h5 class="font-weight-bold m-0 mr-auto">Preferences</h5>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <div class="preferences-tab">
        <%=render partial: 'jobhunters/list' %>
      </div>
    </div>
  </div>
</div>
