<div class="card skills my-2">
  <div class="card-body">
    <p class="card-title m-0 font-weight-bold">Projects</p>
  </div>
</div>

<div class="card my-2">
  <div class="card-body">
    <p class="card-title font-weight-bold">crackBot</p>
    <p class="card-text text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
       mollit anim id est laborum.
    </p>
  </div>
</div>

<div class="card my-2">
  <div class="card-body">
    <p class="card-title font-weight-bold">airBnB</p>
    <p class="card-text text-muted">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
      reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
       mollit anim id est laborum.
    </p>
  </div>
</div>
