<div class="card skills my-2">
  <div class="card-body">
    <p class="card-title m-0 font-weight-bold">Projects</p>
  </div>
</div>

<%@projects.limit(3).each do |project| %>
  <div class="card my-2">
    <div class="card-body">
      <p class="card-title font-weight-bold"><%=project.name%></p>
      <p class="card-text text-muted">
        <%= sanitize project.description %>
      </p>
    </div>
  </div>
<%end%>
