<div class="card skills my-2">
  <div class="card-body">
    <p class="card-title m-0 font-weight-bold">Skills</p>
    <hr/>
    <div class="d-flex flex-wrap flex-row">
      <div class="skills-tag">
        <p class="m-0">HTML</p>
      </div>
      <div class="skills-tag">
        <p class="m-0">Javascript</p>
      </div>
      <div class="skills-tag">
        <p class="m-0">RoR</p>
      </div>
      <div class="skills-tag">
        <p class="m-0">React</p>
      </div>
    </div>
  </div>
</div>
