<h1><%= @job.title %></h1>
<p><%= sanitize @job.details %></p>

<p><strong>Location:</strong> <%= @job.location %> </p> 
<p><strong>Salary:</strong> $ <%= @job.salary %></p>

<!-- Insert job photos -->