/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require trix
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "slick";
@import "slick-theme";
@import "landing";
@import "home";
@import "jobs";
@import "users";
@import "search";
@import "spinner";
@import "employers";
@import "companies";

body, html {
  background-color: #fafafa;
  height: 100vh;
}

#flash {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.backdrop {
  position: absolute;
  background-color: rgba(25, 118, 210, 0.5);
  height: 100vh;
  width: 100%;
  z-index: 90;
}

.small-font {
  font-size: 12px;
}

.medium-font {
  font-size: 14px;
}

.btn {
  border-radius: 0!important;
}

.bg-searchbar {
  background-color: #eee;
  padding: 5px 10px 5px 10px;
  border-radius: 0;
}

#search_result {
  width: 90%;
}

.bg-searchbar:focus {
  background-color: #eee;
  outline-style: none!important;
}

.form-control {
}

.btn-primary {
  background-color: #1976d2!important;
  color: white!important;
}

.card {
  border-radius: 0;
  box-shadow: 0.5px 0.5px 5px #ddd;
}

.results-tab {
  overflow-y: auto!important;
  height: 90%;
}
