.cover-employer-landing {
  background-image: url('accomplishment-agreement-business-1249158-compressor.jpg');
  height: 95vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.employer-jumbotron {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5)!important;
  margin-bottom: 0!important;
}
