// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reviews {
  color: #f57c00;
}
.reviews.border {
  border-color: #f57c00!important;
}

.side-container {
  height: 100vh;
}
