// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reviews {
  color: #f57c00;
}
.reviews.border {
  border-color: #f57c00!important;
}

.choose-container {
  background-color: rgba(0,0,0,0.3)
}

.side-container {
  height: 100vh;
}

.side-container-bg {
  background-image: url('pexels-photo-1036808-compressor.jpeg');
}

.new-employer-cover {
  background-image: url('pexels-photo-1153213-compressor.jpeg');
  height: 30vh;
  background-position: center;
  background-size: cover;
}
