// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filter {
  background-color: #ddd;
  padding: 0.5em;
  padding-left: 15px;
}

.filter p {
  color: #707070;
}
