// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover-landing {
  background-image: url('annie-spratt-608001-unsplash.jpg');
  height: 70vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  position: relative;
}

.searchbox-landing {
  background: rgba(0,0,0,0.5);
  display:block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  border-radius: 25px;
}
