.btn-jobstreet {
  background-color: #1c3f94;
  color: white;
  font-family: "Helvetica Neue", Arial!important;
}

.btn-glassdoor {
  background-color: #0CAA41!important;
  color: white;
  font-family: 'Lato', sans-serif!important;
}

.btn-indeed {
  background-color: #085ff7!important;
  color: white;
  font-family: "Helvetica Neue", Arial!important;
}

.btn-fastjob {
  background-color: #ff3e97!important;
  color: white;
  font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif!important;
}

.btn-jobstore {
  background-color: #0732a2!important;
  color: white;
  font-family: 'Lato', sans-serif!important;
}

.search-window {
  position: absolute;
  right: 20px;
  left: 20px;
  top: 70px;
  bottom: 20px;
  background-color: white;
  z-index: 100;
  display: none;

  &.visible {
    display: block;
  }
}
.search-window:after, .search-window:before {
	bottom: 100%;
	left: 40%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.search-window:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 20px;
	margin-left: -30px;
}
.search-window:before {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, 0.125);
	border-width: 21px;
	margin-left: -31px;
}

.search-window-body {
  height: 95%;
}
