.btn-jobstreet {
  background-color: #1c3f94;
  color: white;
  font-family: "Helvetica Neue", Arial;
}

.btn-glassdoor {
  background-color: #0CAA41!important;
  color: white;
  font-family: 'Lato', sans-serif;
}
