<div class="spinner">
  <div class="rect1 bg-primary"></div>
  <div class="rect2 bg-primary"></div>
  <div class="rect3 bg-primary"></div>
  <div class="rect4 bg-primary"></div>
  <div class="rect5 bg-primary"></div>
</div>
